body {
	margin: 0;
	padding: 0;
	font-size: 100%;
}

/* Header begin */

.center {
	display: inline-block;
	float: right;
}

.header {
	padding: 10px -5px 10px -5px;
	color: gray;
	font-weight: bold;
}

/* Navbar begin */

.left {
	float: left;
	width: 20%;
}

.list-group {
	align-items: left;
	background-color: gray;
	color: black;
	margin: 0;
	padding: 0;
	position: sticky;
}

.list-group li {
	margin: 5px 0;
	border: 1px solid gray;
}

.list-group li a {
	display: block;
	list-style: 3em;
	width: 100%;
	text-decoration: none;
}

.list-items {
	list-style-type: none;
	align-items: left;
	justify-content: flex;
	position: relative;
}

/* Navbar End */
